Config(
  x: Fraction(0.500000),
  y: Fraction(0.300000),
  width: Fraction(0.250000),
  height: Absolute(0),
  hide_icons: false,
  ignore_exclusive_zones: false,
  layer: Overlay,
  hide_plugin_info: true,
  close_on_click: true,
  show_results_immediately: true,
  max_entries: None,
  plugins: ["/nix/store/xvnjbsi8bw04briy4xq6r028qff7apfy-applications-0.1.0/lib/libapplications.so","/nix/store/61sd49k7q54jlnz3q3ahp2nkbrnsq78a-rink-0.1.0/lib/librink.so","/nix/store/h396la55cxr82msbij9rmsxja9s3md0x-shell-0.1.0/lib/libshell.so","/nix/store/g3mz3bck6qr22j0bwz9q4kki1h2bbc7g-kidex-0.1.0/lib/libkidex.so","/nix/store/b6slf9ch7dgmh272qs1h6vysis2gfdvv-symbols-0.1.0/lib/libsymbols.so"],
)
